.ag-theme-material .ag-cell{
  padding: 10px;
  text-align: center;

}

.ag-theme-material .ag-header-cell {
  padding: 10px;
}
.ag-header-cell-text{
  margin: 0 auto;

}
.search{
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}